body{
    background-color: #876445;
  }
    [class*="col"]{
        padding: 0 0;
        /* background-color: #cf920ddb; */
        border: 0px solid #fff;
        color: #fff;
        margin: 0;
    }

    .h1, h2{
        color: rgb(232, 224, 224);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight:bold;
    }

    .migajacy-napis {
        font-size: 24px;
        color: rgb(241, 229, 229);
      }
      
      /* Animacja */
      @keyframes migotanie {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      /* Przypisanie animacji do napisu */
      .migajacy-napis {
        animation-name: migotanie;
        animation-duration: 2.85s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      .wjezdzajacy-napis {
        position: relative;
        animation: wjezdzanie 0.5s ease-in-out forwards;
      }
      
      /* Animacja */
      @keyframes wjezdzanie {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0%);
        }
      }

      .btn:hover{
        background-color: white;

      }

      .btn:focus{
        color: white;
        background-color: aliceblue;
        background-color: white;
      }

      .btn:active{
        color:#876445;
        background-color: rgb(222, 209, 209);
        box-shadow: none;
      }

      .btn:active:focus {
        color: #ffffff; 
        background-color: rgb(242, 233, 233);
      }

      .btn-outline-success:hover{
        color: #876445 !important;
        border-color: #876445 !important;
      }

      .dropdown-item:active{
        background-color: #CA955C;

      }

       .navbar-nav a:hover {
        color: #876445;
      }

      .dropdown-item:hover {
        color:black !important;
      }

      .navbar-expand-lg{
        margin: 0 0 0 0;
        padding: 0px 0px;
      }

      .glkontener{
        background-color:#CA955C;
        padding: 8px 8px;
        font-size: 15px;
      }
      .navbar-nav{
        padding: 0 0;
        margin: 0 0 0 0;
      }

      .dropdown-menu{
        background-color:#876445;
        color:whitesmoke;
      }

      .dropdown-item{
        color:whitesmoke;
      }

      .nav-link{
        margin-right: 10px;
      }

      .btn-outline-success{
        color: black;
        border-color:black;
        font-size: 15px;
      }

      .boxik{
        margin-bottom: 3px;
      }

      .rowik{
        margin-top:150px;
      }

      .rowik1{
        padding: 25px 25px;
        border:0;
        margin: 0 0;
        border-radius: 10px;
        text-align:center;
        background-color: #CA955C;
      }

      .koszyk{
        padding:20px 20px;
        color:rgb(15, 14, 14);
        font-weight:bold;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman',serif;
        text-transform:uppercase;
      }

      .kolkoszyk{
        margin-left: 20px;
      }

      .img-thumbnail{
        height:70px;
        width:auto;
      }

      .form-control{
        width: 70px;
        display:inline-block;
      }

      .cena{
        font-weight: bold;
      }

      .usunbtn{
        background-color:#CA955C;
        border-color: white;
      }

      .colrabat{
        display: inline-block;
      }

      .colrabat1{
        padding: 10px 10px;
        width:330px;
        margin: 10px 30px;
      }

      .form-control{
        width:200px;
        display:inline-block
      }

      .dodajrabat{
        margin-bottom:7px;
        height: 37px;
        background-color: white;
        border-color:white;
        color:#876445;
      }

      .podkosztow{
        margin-top: 40px;
        width:30%;
        display:inline-block;
        margin-right: 40px;
      }

      .listkosztow{
        margin: 20px 20px;
        margin-top: 30px;"
      }

      .wartkoszyka{
        padding-right: 130px;
        text-align:end;
      }

      .kosztdostawy{
        padding-right: 130px;
        text-align:end;
      }

      .razemdostawy{
        padding-right: 130px;
        text-align:end;
      }

      .btndostawy{
        margin-bottom:7px;
        height: 37px;
        background-color:#876445;
        border-color:white;
        color:white;
      }

      .carddostawca{
        margin-top: -200px;
        margin-left: 35px;
        width:53%;
      }

      .wybdostawce{
        text-align: start;
      }

      .listdotawce{
        margin-top:10px;
      }

      .radiodost{
        text-align: left;
      }

      .embe{
        display:inline-block;
      }

      .text-muted{
        display: block;
      }

      .cardplatnosc{
        margin-top: -13px; margin-left:35px;
                              width:53%;
      }

      .wybplatnosc{
        text-align: start;
      }

      .listplatnosc{
        margin-top:10px;
      }

      .kontnaszeprod{
        padding-bottom: 0px;
      }

      .h3naszeprod{
        margin-bottom: 10px;
        margin-top: 25px;
        text-shadow: 1px 1px black;
      }

      .carprod{
        margin-top: -50px;
      }

      .contprod{
        padding: 0 0; margin-top: 0px;
      }

      .ctext{
        margin-bottom: 0px;
      }

      .carousel-control-prev-icon{
        filter: invert(100%);
        margin-top: -60px;
        margin-left: -40px;
      }

      .carousel-control-next-icon{
        filter: invert(100%);
        margin-top: -60px;
        margin-right: -40px;
      }

      .rowstopka{
        height:
                        230px; margin-top: 7px;
                        margin-bottom:0px; border: 0;
      }

      .colstopka{
        background-color:
                          #CA955C; padding: 50px;
                          margin: 0; height: 230px; margin-top: -15px;
                          margin-bottom:0px;
                          border: 0; border-radius: 8px; color:black;
                          text-align:left;
                          font-family:Georgia, 'Times
                          New Roman', Times, serif; font-weight:bold
      }

      .hstopka{
        margin-top: -5px; font-weight: bold;
                            font-size: 16px
      }

      .h6stopki {
        font-size: 14px;
      }
      
      .powered {
        text-align: right;
        font-size: 12px;
        font-weight: 100;
        margin-right: -32px;
      }










