body{
    background-color: #876445;
  }
    [class*="col"]{
        padding: 0 0;
        /* background-color: #cf920ddb; */
        border: 0px solid #fff;
        color: #fff;
        margin: 0;
    }

    .h1, h2{
        color: rgb(232, 224, 224);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight:bold;
    }

    .migajacy-napis {
        font-size: 24px;
        color: rgb(241, 229, 229);
      }
      
      /* Animacja */
      @keyframes migotanie {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
      /* Przypisanie animacji do napisu */
      .migajacy-napis {
        animation-name: migotanie;
        animation-duration: 2.85s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      .wjezdzajacy-napis {
        position: relative;
        animation: wjezdzanie 0.5s ease-in-out forwards;
      }
      
      /* Animacja */
      @keyframes wjezdzanie {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0%);
        }
      }

      .btn:hover{
        background-color: white;

      }

      .btn:focus{
        color: white;
        background-color: aliceblue;
        background-color: white;
      }

      .btn:active{
        color:#876445;
        background-color: rgb(222, 209, 209);
        box-shadow: none;
      }

      .btn:active:focus {
        color: #ffffff; 
        background-color: rgb(242, 233, 233);
      }

      .btn-outline-success:hover{
        color: #876445 !important;
        border-color: #876445 !important;
      }

      .dropdown-item:active{
        background-color: whitesmoke;
      }

      .dropdown-item:focus{
        color: white;
      }


      .dropdown-item:hover {
        color:black !important;
      }

      .dropdown-item:active{
        color: white;
      }

      .navbar-nav a:hover {
        color: #876445;
      }

      .glnav{
        margin: 0 0 0 0; padding: 0px 0px;
      }

      .glcont{
        background-color:#CA955C; padding: 8px 8px; font-size:
          15px;
      }

      .navbar-nav{
        padding: 0 0; margin: 0 0 0 0;
      }

      .dropdown-menu{
        background-color:#876445;
                  color:whitesmoke;
      }

      .dropdown-item{
        color:whitesmoke;
      }

      .navsklep{
        margin-right: 10px;
      }

      .btn-outline-success{
        color: black; border-color:black; font-size: 15px;
      }

      .navlogo{
        margin-left: 8px;
        margin-bottom: 3px;
      }

      .bi-bag{
        margin-bottom: 6px;
      }

      .bi-card-checklist{
        margin-bottom: 6px;
      }

      .glrow{
        width:fit-content; margin: 100px auto;
      }

      .colkont{
        padding: 19px 25px; border-radius:8px; border:0; background-color: #CA955C;
      }

      .hutworz{
        text-align:center; margin: 20px 20px 30px 20px; font-weight: bold; text-shadow: 2px 2px black;
      }

      .colkonto{
        padding: 10px 10px;
        width: 330px; margin: 0 30px;
      }

      .colkonto2{
        padding: 10px 10px;
        width:330px; margin: 0 30px;
      }

      .colkonto3{
        padding: 10px 10px; width:
                        330px; margin: 0 30px;
      }

      .invalid-feedback{
        color: black;
      }

      .colkonto4{
        padding: 10px 10px; width:
                        330px; margin: 0 30px;
      }

      .colwoje{
        padding: 10px 10px; width:
                        330px; margin: 0 30px;
      }

      .colkonto5{
        padding: 30px 10px; width:
                        330px; margin: 0 30px;
      }

      .btnutkonto{
        background-color: #876445;
        border-color:#a2720ce9 !important;
        color:white;
        padding: 10px 15px;
        margin: 5px 0px;
      }

      .colik{
        padding: 10px 10px;
      }








