<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEERSITE - Wpadnij do nas po swoje piwo!</title>
    <link
      href="/static/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous">
    <script
src="/static/bootstrap.bundle.min.js"
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <div class="container-fluid align-items-start gx-0 shadow-sm">

      <!-- Główny NAVBAR -->

      <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary"
        style="margin: 0 0 0 0; padding: 0px 0px;">
        <div class="container-fluid align-items-start gx-0 shadow-sm me-auto
          order-0">
          <a class="navbar-brand" href="#">BEERSITE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2"
              style="padding: 0 0; margin: 0 0
              0 0;">
              <li class="nav-item">
                <a class="nav-link" aria-current="page"
                  href="#" aria-disabled="false">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="{{ url_for('o_nas') }}">O NAS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  RODZAJE PIW
                </a>
                <ul class="dropdown-menu" style="background-color:#876445;
                  color:whitesmoke;">
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_jasne') }}">JASNE</a></li>
                  <li><a class="dropdown-item"
                         href="{{ url_for('rodzaje_ciemne') }}">CIEMNE</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_marcowe') }}">MARCOWE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_bock') }}">BOCK/KOŹLAK</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_porter') }}">PORTER</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_stout') }}">STOUT</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_ale') }}">ALE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_pszeniczne') }}">PSZENICZNE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_smakowe') }}">SMAKOWE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_specjalne') }}">SPECJALNE</a></li>
                </ul>
              </li>
              <li class="nav-item navitemsklep">
                <a class="nav-link"
                  href="{{ url_for('sklep') }}">SKLEP</a>
              </li>
              <form class="d-flex ms-auto order-5" role="search">
                <input class="form-control me-2" type="search"
                  placeholder="Wyszukaj" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">SZUKAJ</button>
              </form>
              <li class="nav-item ms-auto order-5">
                <a class="nav-link logowanienav"
                  href="{{ url_for('logowanie') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                    fill="currentColor" class="bi bi-box-arrow-in-right"
                    viewBox="0 0 16 16" style="margin-bottom: 3px;">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5
                      0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0
                      0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0
                      1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5
                      3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0
                        0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0
                        0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                  LOGOWANIE</a>
              </li>
              <li class="nav-item ms-auto order-5">
                <a class="nav-link"
                  href="{{ url_for('koszyk') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19"
                    height="19" fill="currentColor" class="bi bi-bag"
                    viewBox="0 0 16 16" style="margin-bottom: 6px;">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0
                          1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2
                          2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1
                          1 0 0 1-1-1V5z"/>
                  </svg>
                  KOSZYK</a>
              </li>

              <li class="nav-item ms-auto order-5">
                <a class="nav-link"
                  href="{{ url_for('rejestracja') }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19"
                    height="23" fill="currentColor" class="bi
                          bi-card-checklist" viewBox="0 0 16 16"
                    style="margin-bottom: 6px;">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0
                            1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1
                            .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0
                            1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0
                            14.5 2h-13z"/>
                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0
                              1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0
                              .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1
                              .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708
                              0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5
                              0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5
                              1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1
                              .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708
                              0z"/>
                  </svg>
                  REJESTRACJA</a>
              </li>

            </ul>

          </div>
        </div>
      </nav>

    </div>

    <div class="container-xxl text-center gx-0 shadow-sm maincont">
      <div class="beersite row align-items-center">
        <div class="dbeer1 col-xxl">
          <h1 class="hbeer1 align-items: end">BEERSITE</h1>
        </div>
      </div>

      <div class="wpswoje row align-items-start">
        <div class="wpswoje1 col-xxl">
          <h2 class='wjezdzajacy-napis
                      align-self-start'>WPADNIJ
            DO NAS
            PO SWOJE PIWO!</h2>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="obrazekglowny col-xxl">
          <img class="obrazekglowny1"
            src="https://vgor-bucket.s3.ap-southeast-2.amazonaws.com/wp-content/uploads/2021/06/23154102/36fa65c6a529221bbb2f0d07530dd343-7-1400x800.jpeg"
            alt>
        </div>
      </div>

    </div>

    <!-- 4 KARTY PRODUKTÓW -->

    <div class="kontenerprod container-xxl text-center my-5 d-flex">
      <div class="card w-25 shadow-sm p-3">
        <a
          href="/karta_produktu_Żywiec.html">
          <img
            src="https://madeinkaszebe.com.pl/zdjecia/produkt/913/783/0x992/2m/product_nb.jpg"
            class="card-img-top" alt="Piwo Żywiec">
        </a>
        <div class="card-body">
          <h5 class="card-title">Żywiec</h5>
          <p class="card-text">Chce się
            "Ż".</p>
          <div class="card-price"> 10,00 zł</div>
          <button type="button" class="btnprod btn btn-primary
                      toast-trigger"
            data-target="liveToast" id="liveToastBtn">Dodaj do koszyka</button>
          <div class="toast-container position-fixed bottom-0 end-0
                      p-3">
            <div id="liveToast" class="toast" role="alert"
              aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Wiadomość</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close"
                  data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Produkt został dodany do koszyka.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25 shadow-sm p-3">
        <a
          href="/karta_produktu_Warka.html">
          <img
            src="https://www.estop24.pl/thumbs/w1000h1200q88/img/products/big/5902746110027_wc_1.JPG?v=2ef446640b669b7aa524d25ff1d065af"
            class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Warka</h5>
          <p class="card-text">Wyląduj na
            Planecie Warki.</p>
          <div class="card-price"> 7,30 zł</div>
          <button type="button" class="btnprod btn btn-primary
                      toast-trigger"
            data-target="liveToast" id="liveToastBtn">Dodaj do koszyka</button>
          <div class="toast-container position-fixed bottom-0 end-0
                      p-3">
            <div id="liveToast" class="toast" role="alert"
              aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Wiadomość</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close"
                  data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Produkt został dodany do koszyka.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25 shadow-sm p-3">
        <a
          href="/karta_produktu_Brackie.html">
          <img
            src="https://leclerc-online.pl/public/upload/sellasist_cache/thumb_page_b257f89e639d68ad6c06a322ad885a77.jpg"
            class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Brackie</h5>
          <p class="card-text">Wrzuć na
            luz B).</p>
          <div class="card-price"> 9,40 zł</div>
          <button type="button" class="btnprod btn btn-primary
                      toast-trigger"
            data-target="liveToast" id="liveToastBtn">Dodaj do koszyka</button>
          <div class="toast-container position-fixed bottom-0 end-0
                      p-3">
            <div id="liveToast" class="toast" role="alert"
              aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Wiadomość</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close"
                  data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Produkt został dodany do koszyka.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25 shadow-sm p-3">
        <a
          href="/karta_produktu_Żubr.html">
          <img
            src="https://www.delikatesyemis.pl/content/images/thumbs/0004656_zubr-piwo-jasne-500-ml_550.jpeg"
            class="card-img-top" alt="Piwo Żubr">
        </a>
        <div class="card-body">
          <h5 class="card-title">Żubr</h5>
          <p class="card-text">Żubr
            przegania "żywiec".</p>
          <div class="card-price"> 8,90 zł</div>
          <button type="button" class="btnprod btn btn-primary
                      toast-trigger"
            data-target="liveToast" id="liveToastBtn">Dodaj do koszyka</button>
          <div class="toast-container position-fixed bottom-0 end-0
                      p-3">
            <div id="liveToast" class="toast" role="alert"
              aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Wiadomość</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close"
                  data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Produkt został dodany do koszyka.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- DLACZEGO WARTO PIĆ PIWO -->

    <div class="container-xxl gx-0 shadow-sm">

      <div class="row align-items-center">
        <div class="col-xxl coltext">
          <h3 class="hnaglowektext">DLACZEGO WARTO
            PIĆ PIWO?</h3>
          <ul class="naglowektext">
            <li>Po pierwsze piwo jest źródłem składników odżywczych,
              takich jak
              białka, witaminy i minerały, które są niezbędne dla
              dobrego
              zdrowia organizmu. Przykładowo, piwo zawiera witaminę
              B6, która
              jest ważna dla układu nerwowego i odpornościowego, a
              także kwas
              foliowy, który jest niezbędny dla zdrowia kobiet w
              ciąży. Piwo
              zawiera także składniki mineralne, takie jak potas,
              magnez i
              fosfor, które pomagają w utrzymaniu zdrowych kości i
              mięśni.
            </li>
            <li>Po drugie badania wykazują, że umiarkowane spożycie
              piwa może
              pomóc w obniżeniu ryzyka chorób serca. W szczególności,
              piwo może
              pomóc w zwiększeniu poziomu dobrego cholesterolu HDL we
              krwi,
              który pomaga w usuwaniu złogów z tętnic i zmniejsza
              ryzyko chorób
              serca. Ponadto, niektóre badania sugerują, że piwo może
              zawierać
              antyoksydanty, które pomagają w ochronie przed chorobami
              serca i
              nowotworami.
            </li>
            <li>Po trzecie picie piwa może pomóc w zmniejszeniu stresu
              i
              napięcia. Alkohol zawarty w piwie może działać jako
              środek
              uspokajający, który pomaga w relaksacji i zmniejszeniu
              poziomu
              stresu. Jednakże, zawsze należy pamiętać, że nadmierna
              konsumpcja
              alkoholu może prowadzić do negatywnych skutków, takich
              jak
              uzależnienie, problemy z pamięcią i zaburzenia nastroju.
            </li>
            <li>Warto także zaznaczyć, że piwo jest produktem
              spożywczym, który
              ma wpływ na kulturę i tradycje wielu krajów na całym
              świecie.
              Spożywanie piwa może być częścią społecznych obyczajów,
              jak np. w
              Europie, gdzie picie piwa jest tradycyjnym sposobem na
              spędzanie
              czasu w gronie przyjaciół. Ponadto, w niektórych krajach
              piwo jest
              ważnym elementem lokalnej kuchni i kultury, jak np. w
              Niemczech,
              gdzie Oktoberfest jest corocznym świętem związanym z
              piwem.
            </li>
          </ul>
          <div class="row me-auto" style="width:100%">
            <div class="col me-auto">
              <a href="{{ url_for('sklep') }}"
                class="btn btn-primary float-end skleptextbtt"
                aria-pressed="true">Sklep</a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="container-xxl gx-0" style="align-items:center;">
      <div class="row align-items-center">
        <img class="img-fluid gx-0 zdjdol"
          src="https://images.squarespace-cdn.com/content/v1/5bb3956034c4e2b69d7d07ff/db9dc5b6-ea4c-40f3-ad7d-b676ec2a8d09/1C7A0915.jpg?format=1000w"
          alt>
        <img class="img-fluid gx-0 zdjdol2"
          src="https://popmenucloud.com/cdn-cgi/image/width=1920,height=1920,format=auto,fit=scale-down/cyaobqkt/52d79e54-1004-4f9c-bf58-dbc6c4930f8b.jpg"
          alt>
        <img class="img-fluid gx-0 zdjdol"
          src="https://www.dontwasteyourmoney.com/wp-content/uploads/2021/09/man-drinking-beer-scaled-e1631097663655-1024x575.jpeg"
          alt>
      </div>
    </div>

    
    <div class="container-xxl bi-text-left gx-0">
      <div class="row align-items-center rowstopki">
        <div class="col-xxl divstopki">
          <h5 class="h5stopki">Beersite
            Sp. z o.o.</h5>
          <h6 class="h6stopki">ul. Browarna 15</h6>
          <h6 class="h6stopki">34-300 Żywiec</h6>
          <h6 class="h6stopki">email: beersite@gmail.com</h6>
          <h6 class="h6stopki">tel.: +48 500 000 000 (Infolina
            wyłącznie dla osób, które chcą się napić)</h6>
          <h6 class="migajacy-napis">tel.:
            +48 501 001
            001 (Zakładowa Izba wytrzeźwień)</h6>
          <p class="powered">@powered by ŁM</p>
        </div>
      </div>
    </div>

    <script src="'js/bootstrap.js"></script>
    <script src="'js/bootstrap.bundle.js"></script>
    <script>
                document.querySelectorAll('.toast-trigger').forEach(function(trigger) {
                  trigger.addEventListener('click', function() {
                    const toast = new bootstrap.Toast(document.getElementById(this.dataset.target));
                    toast.show();
                  });
                });
              </script>
  </body>
</html>