<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beersite - NAJLEPSZE PIWO W MIEŚCIE!</title>
        <link rel="stylesheet" href="{{ url_for('static',
            filename='css/main.css') }}">
    </head>
    <body>
        <div class="container">
            <div>
                <p>MAMY NAJLEPSZE PIWO W MIEŚCIE!</p>
                <p>WPADAJ DO NAS B)</p>
            </div>
            <div>
                <ul class="menu">
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('about_us') }}">O NAS</a></li>
                    <li><a href="{{ url_for('shop') }}">SKLEP</a></li>
                    <li><a href="{{ url_for('cart') }}">KOSZYK</a></li>
                    <li><a href="{{ url_for('gallery') }}">GALERIA</a></li>
                    <li><a href="{{ url_for('contact') }}">KONTAKT</a></li>
                </ul>
            </div>
        </div>


    </body>
</html>