<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/rodzaje_ciemne.css">
  </head>
  <body>
    <div class="container-fluid align-items-start gx-0 shadow-sm">

      <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary"
      style="margin: 0 0 0 0; padding: 0px 0px;">
        <div class="container-fluid align-items-start gx-0 shadow-sm me-auto
          order-0 maincont">
          <a class="navbar-brand" href="#">BEERSITE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2">
              <li class="nav-item">
                <a class="nav-link" aria-current="page"
                  href="{{ url_for('home') }}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  href="{{ url_for('o_nas') }}">O NAS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  RODZAJE PIW
                </a>
                <ul class="dropdown-menu" style="background-color:#876445;
                  color:whitesmoke;">
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_jasne') }}">JASNE</a></li>
                  <li><a class="dropdown-item"
                         href="{{ url_for('rodzaje_ciemne') }}">CIEMNE</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_marcowe') }}">MARCOWE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_bock') }}">BOCK/KOŹLAK</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_porter') }}">PORTER</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_stout') }}">STOUT</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_ale') }}">ALE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_pszeniczne') }}">PSZENICZNE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_smakowe') }}">SMAKOWE</a></li>
                  <li><a class="dropdown-item"
                      href="{{ url_for('rodzaje_specjalne') }}">SPECJALNE</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link navsklep"
                  href="{{ url_for('sklep') }}">SKLEP</a>
              </li>
              <form class="d-flex ms-auto order-5" role="search">
                <input class="form-control me-2" type="search"
                  placeholder="Wyszukaj" aria-label="Search" style="">
                <button class="btn btn-outline-success btnszukaj" type="submit">SZUKAJ</button>
              </form>
              <li class="nav-item ms-auto order-5">
                <a class="nav-link navlogowanie" href="/bootstrap-5.3.0-alpha3-dist/logowanie.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                    fill="currentColor" class="bi bi-box-arrow-in-right"
                    viewBox="0 0 16 16" style="margin-bottom: 3px;">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5
                      0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0
                      0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0
                      1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5
                      3.5v2a.5.5 0 0 0 1 0v-2z"/>
                      <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0
                        0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0
                        0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                      LOGOWANIE</a>
                  </li>
                  <li class="nav-item ms-auto order-5">
                    <a class="nav-link" href="{{ url_for('koszyk') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="19"
                        height="19" fill="currentColor" class="bi bi-bag"
                        viewBox="0 0 16 16" style="margin-bottom: 6px;">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0
                          1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2
                          2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1
                          1 0 0 1-1-1V5z"/>
                        </svg>
                        KOSZYK</a>
                    </li>
                    <li class="nav-item ms-auto order-5">
                      <a class="nav-link"
                        href="{{ url_for('rejestracja') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19"
                          height="23" fill="currentColor" class="bi
                          bi-card-checklist" viewBox="0 0 16 16"
                          style="margin-bottom: 6px;">
                          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0
                            1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1
                            .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0
                            1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0
                            14.5 2h-13z"/>
                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0
                              1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0
                              .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1
                              .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708
                              0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5
                              0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5
                              1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1
                              .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708
                              0z"/>
                            </svg>
                            REJESTRACJA</a>
                        </li>
                      </ul>

                    </div>
                  </div>
                </nav>

                <!-- Główny kontener -->

                <div class="container-xxl gx-0">
                  <div class="row align-items-center mainrow">
                    <div class="col-xxl shadow-sm divczymcharakt">
                      <h3 class="h3czymcharakt">Czym charakteryzuje się ciemne piwo?</h3>
                      <div class="col">

                        <!-- img -->

                        <img class="img-fluid shadow-sm main-img" 
                          src="https://mojedrinki.pl/wp-content/uploads/2022/04/jasne-pelne-odrobina-historii-klasycznego-alkoholu.jpg"
                          alt="">
                      </div>
                      <div class="col coltext">
                        <p>Na pierwszy rzut oka ciemne piwo wyróżnia się oczywiście swoją barwą. Może występować w wielu kolorach – bursztynowym, brązowym, czerwonym, a nawet całkowicie czarnym, przypominającym kawę. Wpływ na wygląd konkretnego napoju ma przede wszystkim rodzaj słodu użytego do jego produkcji. Widać tu wyraźnie, że barwienie trunku jest procesem w 100% naturalnym. Dobre alkohole nie zawierają bowiem żadnych konserwantów czy sztucznych barwników. Jako ciekawostkę można dodać, że w Europie do określenia barwy piwa wykorzystuje się specjalną jednostkę EBC. Zgodnie z przyjętą skalą ciemne piwo mieści się w granicach około 35‒60 EBC (im wyższa jednostka, tym ciemniejszy kolor trunku).</p>
                        <p>Poza charakterystyczną barwą piwo ciemne wyróżnia się również specyficznym smakiem. Przede wszystkim jest cięższe i mniej orzeźwiające niż jasna odmiana. Ma również wyczuwalną nutę słodyczy. W zależności od konkretnej odmiany napoju może przywodzić na myśl karmel, czekoladę, kawę lub wiśnię. Poza smakiem warto też zwrócić uwagę na zawartość alkoholu. Co ciekawe, barwa trunku nie musi wpływać na jego moc. Na rynku można więc spotkać zarówno mocne ciemne piwo, jak i jego słabsze odmiany.</p>
                        <p>Najbardziej znane jest ciemne piwo irlandzkie, występujące pod nazwą stout. Produkuje się je z intensywnie prażonego słodu jęczmiennego i dużej ilości chmielu, która odpowiada za silny posmak goryczki. Trunek ten wyróżnia się wyjątkowo ciemną, praktycznie czarną barwą. Współcześnie wytwarzany jest także w wielu krajach poza Irlandią. Występuje w kilku ciekawych odmianach, wśród których na uwagę zasługują m.in.:
                          Imperial stout – mocne ciemne piwo o ciężkim smaku, czekoladowym aromacie i dużej zawartości alkoholu (często ponad 9‒10%);
                          Milk stout – nietypowe piwo ciemne wyróżniające się zawartością laktozy, stosunkowo dużą kalorycznością i specyficznym słodkim smakiem;
                          Coffee stout – ciemne piwo irlandzkie charakteryzujące kawowymi nutami smakowymi, występujące w formie słodkiej lub wytrawnej;
                          Oatmeal stout – dość rzadko spotykany trunek warzony z dodatkiem owsa.</p>
                      </div>

                    </div>
                  </div>


                  <div class="container text-center" style="padding-bottom:
                    0px;">
                    <div class="row align-items-center">
                      <div class="col">
                        <p class="h3 fw-bold h3naszeprod">
                          NASZE PRODUKTY
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- ELEMENT NASZE PRODUKTY -->

                  <div id="carouselExampleInterval" class="carousel slide"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">

                      <!-- 4 produkty -->

                      <div class="carousel-item active shadow-sm"
                        data-bs-interval="5000">

                        <div class="container-xxl text-center my-5 d-flex kontcarousel">

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://madeinkaszebe.com.pl/zdjecia/produkt/913/783/0x992/2m/product_nb.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Żywiec</h5>
                              <p class="card-text">Chce
                                się "Ż".</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://www.estop24.pl/thumbs/w1000h1200q88/img/products/big/5902746110027_wc_1.JPG?v=2ef446640b669b7aa524d25ff1d065af"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Warka</h5>
                              <p class="card-text">Wyląduj
                                na Planecie Warki.</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://leclerc-online.pl/public/upload/sellasist_cache/thumb_page_b257f89e639d68ad6c06a322ad885a77.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Brackie</h5>
                              <p class="card-text">Wrzuć
                                na luz B).</p>
                            </div>
                          </div>


                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://www.delikatesyemis.pl/content/images/thumbs/0004656_zubr-piwo-jasne-500-ml_550.jpeg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Żubr</h5>
                              <p class="card-text">Żubr
                                przegania "żywiec".</p>
                            </div>
                          </div>

                        </div>
                      </div>

                      <!-- kolejne 4 produkty -->

                      <div class="carousel-item shadow-sm"
                        data-bs-interval="5000">

                        <div class="container-xxl text-center my-5 d-flex kontcarousel">

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://emmamarket.pl/20849-medium_default/napoj-piwny-somersby-pear-00-400ml-but-bzw-carlsberg.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sommersby</h5>
                              <p class="card-text">Twoje piwo.</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://madeinkaszebe.com.pl/zdjecia/produkt/4114/825/600x600/3/product_nb.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sommersby Mago & Lime</h5>
                              <p class="card-text">Piwo smakowe.</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://res.cloudinary.com/dj484tw6k/image/upload/v1618257689/e8a4dd75-92d3-4f42-98aa-7988566bc104.png"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Okocim Mocne Dubeltowe</h5>
                              <p class="card-text">Dla mocnych.</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://madeinkaszebe.com.pl/zdjecia/produkt/2471/781/0x992/2m/product_nb.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Żywiec Porter</h5>
                              <p class="card-text">Leczy słabości.</p>
                            </div>
                          </div>

                        </div>
                      </div>


                      <!-- kolejne 4 produkty -->

                      <div class="carousel-item shadow-sm"
                        data-bs-interval="5000">

                        <div class="container-xxl text-center my-5 d-flex kontcarousel">

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://www.delikatesyemis.pl/content/images/thumbs/0018202_5900014002494-okocim-mistrzowski-porter-piwo-ciemne-500-ml_550.jpeg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Okocim Mistrzowski
                                Porter</h5>
                              <p class="card-text">Mistrz powrócił.</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://noibuonidentro.it/wp-content/uploads/2020/05/carlsberg-pilsner.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Carlsberg</h5>
                              <p class="card-text">Wiadomo.</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://image.handelextra.pl/224558_565x423.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Carlsberg Red</h5>
                              <p class="card-text">Wrzuć na luz B).</p>
                            </div>
                          </div>

                          <div class="card w-25 shadow-sm p-3">
                            <img
                              src="https://madeinkaszebe.com.pl/zdjecia/produkt/1041/812/0x992/2m/product_nb.jpg"
                              class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Lech</h5>
                              <p class="card-text">Lech Czech i Polak.</p>
                            </div>
                          </div>

                        </div>
                      </div>

                      <!-- strzałki prev i next -->

                      <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"
                          aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>

                      <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"
                          aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>


                    <!-- STOPKA -->

                    <div class="container-xxl bi-text-left gx-0">
                      <div class="row align-items-center rowstopka">
                        <div class="col-xxl colstopka">
                          <h5 class="h5beer">Beersite
                            Sp. z o.o.</h5>
                          <h6>ul. Browarna 15</h6>
                          <h6>34-300 Żywiec</h6>
                          <h6>email:
                            beersite@gmail.com</h6>
                          <h6>tel.: +48 500 000 000
                            (Infolina wyłącznie
                            dla osób, które chcą się napić)</h6>
                          <h6 class="migajacy-napis">tel.: +48 501 001
                            001 (Zakładowa Izba wytrzeźwień)</h6>
                          <p class="powered">@powered by ŁM</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <script src="'js/bootstrap.js"></script>
                <!-- <script src="'js/bootstrap.bundle.js"></script>  2-ga opcja ze wszystkimi dependencies-->
    </div>
  </body>
            </html>